html,body{
	font-family: 'mini-standard-yuan', sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(144, 19, 254);
}

body.disable-default-action
{
    -webkit-touch-callout:none ;
    -webkit-user-select:none ;
    unselectable: IE/Opera, 
	-moz-user-select: FireFox, 
	onselectstart: IE/Safari, 
	-webkit-user-select:Chrome
}

.container {
	position: absolute;
	width: 100%;
	margin-top: 100px;
}

header {
	float: left;
	width: 100%;
}

.main {
	float: left;
	width: 100%;
}

.app-icon {
	margin: 0 auto;
	width: 160px;
	height: 160px;
	border-radius: 25%;
	background-image: url('../images/icon.png');
	background-repeat: none;
	background-size: 100% 100%;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7)
}

.app-icon:hover {
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.7);
}

.app-icon:active {
	box-shadow: 0 3px 25px rgba(0, 0, 0, 0.7);
}

.app-name {
	margin: 0 auto;
	margin-top: 24px;
	text-align: center;
	position: relative;
}

/* .app-name {
	margin: 0 auto;
	margin-top: 24px;
	height: 63px;
	width: 198px;
	background-image: url("../images/title.png");
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
 */

.app-name h4 {
	float: left;
	margin: 0;
	width: 100%;
	font-size: 32px;
/* 	font-weight: 100px;	
 */}

.clean-text {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 99;
}

.app-slogan {
	margin: 0 auto;
	width: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 28px;
	-webkit-line-height: 20px;
}

.button {
	margin: 0 auto;
	margin-top: 40px;
	width: 180px;
	height: 50px;
	border: 2px solid black;
	border-radius: 100px;
	background-color: #28DF4B;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
}

.button:active {
	margin-top: 42px;
}

.button-touch {
	width: 100%;
	height: 100%;
	background-color: #FFFF00;
	border-radius: 100px;
	font-weight: bold;

	height: 48px;
	border-radius: 100px;
}

.button-touch:active {
	height: 50px;

}

.button-touch a{
	text-decoration: none;
	/*禁止显示touch选中效果*/
    -webkit-tap-highlight-color: transparent;
	color: #000;	
}


.cursor-default {
	cursor: default;
}

.cursor-pointer {
	cursor: pointer;
}

.style-text-stoke {
	/*webkit*/
	-webkit-text-stroke: 3px #FFF;
	-webkit-text-fill-color: #000;
}

.text-border {
	font-weight: bolder;
}

.text-center {
	width: 100%;
	text-align: center;
}

/*自定义字体*/
@font-face {
 font-family: 'mini-standard-yuan';
 src: url('../fonts/mini-standard-yuan.eot');
 src: url('../fonts/mini-standard-yuan.eot?#iefix') format('mini-standard-yuan'),
              url('../fonts/mini-standard-yuan.woff') format('woff'),
              url('../fonts/mini-standard-yuan.ttf') format('truetype'),
              url('../fonts/mini-standard-yuan.svg#mini-standard-yuan') format('svg');
}


